<% provide(:title, "#{@competitor.name}") %>

<h1><%= @competitor.name %>'s Tournaments</h1>
<table id="leaderboard">
	<tr>
		<th>Tournament</th>
		<th>Medal</th>
		<th>Absolute</th>
		<th>Points</th>
	</tr>
	<% @medals.each do |medal| %>
	<tr>
		<td><%= link_to medal.tournament.name, tournament_path(id: medal.tournament.id) %></td>
		<td><%= medal_colour(medal.value) %></td>
		<td>
			<% if medal.absolute == 1 %>
				&#10003
			<% end %>
		</td>
		<td><%= medal.value * medal.tournament.multiplier %></td>
	</tr>
	<% end %>
</table>
